.board {
  width: 10rem;
  height: 10rem;
  margin: auto;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: aquamarine;
}

.cell {
  background-color: beige;
  width: 3rem;
  height: 3rem;
  border: solid 2px blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

h1 {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  flex-direction: column;
}
